* {
  box-sizing: border-box;
  /* width: 800px; */
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
}

html {
  display: grid;
  background-color: #e3e2dd;
}

body {
  justify-content: center;
  justify-self: center;
  display: grid;
  width: 667px;
}

.app {
  width: 667px;
  /* justify-content: center; */
}

.top {
  background-color: #333;
  color: white;
}

.dd-navbar {
  display: inline-block;
  padding: 15px 20px 15px 25px;
}

.dd-expansion {
  width: 100%;
  background-color: #2b2b2b;
  height: 250px;
  padding: 15px 20px 25px 20px;
  /* columns: 4; */
}

.quicklink,
.subtext {
  color: silver;
}

.subtext {
  font-size: 11px;
}

.quicklink:hover {
  color: #63c9ff;
  text-decoration: underline;
}

.division {
  color: #6b6b6b;
  margin: 0 0.5em;
}

.arrow-down {
  height: 9px;
  width: 9px;
  background: url(https://m.media-amazon.com/images/G/01/imdb/images/title/title_overview_sprite-1705639977._V_.png)
    no-repeat;
  background-position: -14px -296px;
  display: inline-block;
}

.arrow-up {
  height: 9px;
  width: 9px;
  background: url(https://m.media-amazon.com/images/G/01/imdb/images/title/title_overview_sprite-1705639977._V_.png)
    no-repeat;
  background-position: -34px -296px;
  display: inline-block;
}

.col {
  width: 25%;
  float: left;
}

.share-module {
  padding-left: 20px;
  display: inline-block;
}

.ribbon {
  position: relative;
  background: url(https://m.media-amazon.com/images/G/01/imdb/images/title/title_overview_sprite-1705639977._V_.png)
    no-repeat;
  background-position: -8px -62px;
  width: 40px;
  height: 58px;
  display: inline-block;
  margin-left: 25px;
}

.ribbon:hover {
  opacity: 0.6;
}

.title-info {
  display: inline-block;
  padding: 0 0 15px 15px;
}

.more-info {
  padding: 15px 15px 15px 15px;
  background-color: #eee;
}

.trailer {
  display: inline-block;
  vertical-align: middle;
  padding-left: 10px;
}

.star-box,
.rating-box {
  display: inline-block;
}

.star-box {
  padding-left: 0px;
  vertical-align: top;
}

.solid-star {
  position: relative;
  background: url(https://m.media-amazon.com/images/G/01/imdb/images/title/title_overview_sprite-1705639977._V_.png)
    no-repeat;
  background-position: -15px -118px;
  width: 30px;
  height: 40px;
  display: inline-block;
  margin-left: 0px;
}

.star-rating {
  font-size: 24px;
  font-family: Arial;
  color: white;
  display: inline-block;
  height: 30px;
}

.denominator {
  color: #6b6b6b;
  font-size: 10px;
}

.transparent-star {
  position: relative;
  background: url(https://m.media-amazon.com/images/G/01/imdb/images/title/title_overview_sprite-1705639977._V_.png)
    no-repeat;
  background-position: -8px -196px;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 0px;
  border-left: 1px solid #6b6b6b;
}

.rating-modal-box {
  height: 42px;
  display: inline-block;
}

.rating-modal-box:hover {
  background-color: #136cb2;
}

.rate-this {
  min-height: 50px;
  position: relative;
  display: inline-box;
  /* align-items: center; */
}

.rating-star {
  position: inherit;
  background: url(https://m.media-amazon.com/images/G/01/imdb/images/sitewide/imdb_global_sprite-1835832765._V_.png)
    no-repeat;
  background-position: -227px -1px;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}

.rating-star-hover {
  background-position: -227px -61px;
}

.bold {
  color: #666666;
  font-weight: bold;
  display: inline;
}

.watch-opts {
  height: 88px;
  display: flex;
  align-items: center;
}

.prime-btn {
  background-color: #2259bf;
  height: 50px;
  width: 304px;
  border: none;
  color: white;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  font-family: arial;
  margin-right: 8px;
}

.more-opts,
.add-watch-list {
  height: 50px;
  width: 50px;
  border: none;
  background-color: #dbdbdb;
  color: #0e63be;
  border-radius: 6px;
  font-weight: bold;
}

.more-opts {
  width: 50px;
}

.add-watch-list {
  width: 186px;
}

.watch-opts-divider {
  height: 2.5rem;
  border-left: solid 1px #c5c5c5;
  margin: 0 20px;
}

.score-box {
  color: white;
  font-size: 13px;
  height: 28px;
  width: 28px;
  display: inline-block;
  text-align: center;
  background-color: #ffcc33;
}

.score-value {
  vertical-align: middle;
  line-height: 28px;
}
